@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


* {
    box-sizing: border-box;
  }
:root {
    --laranja-claro: #FF862A;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
    --filament-saturation: 0;
    --filament-lightness: 40;
    --fitting-lightness: 30;
    --chord-lightness: 50;
    --bg-lightness: 5;
    --glass-lightness: 30;
    --glass-saturation: 10;
    --light-alpha: 0;
    --ceiling: 50;
    --bulb-hue: 70;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
    background: hsl(215, 100%, calc(var(--bg-lightness) * 100%));
    background-color: #040404;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #CB6D43;
    font-weight: 600;
}

.inicio-fundo {
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 30%;
    height: 66px;
    padding: 40px;
    margin: 0 auto;
}

.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/flor.png') top right no-repeat,
    url('img/flor-esquerda.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}


#galeria {
    background-color: #090909;
}


#contato {
    background-size: cover;
    padding: 4rem 0;

}

.formulario {
    background-color: #c6b3b3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: #CB6D43;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

.alto-contraste #tropicalia {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
.alto-contraste .fundo-galeria {
    background: none;
}


svg {
    width: 90vmin;
    transform: translate(0, -30%);
  }
  .wrapper {
    position: relative;
  }
  .wrapper:after {
    content: "";
    width: 90vmin;
    position: absolute;
    bottom: 150%;
    left: 150%;
    border-bottom: 4px solid hsl(0, 0%, calc(var(--ceiling) * 1%));
    transform: translate(0, 2px);
  }
  .light-bulb {
    display: block;
  }
  .light-bulb__chord {
    stroke: hsl(0, 0%, calc(var(--chord-lightness) * 1%));
  }
  .light-bulb__glass {
    fill: hsla(var(--bulb-hue), 100%, calc(var(--glass-lightness) * 1%), var(--light-alpha));
    stroke: hsla(var(--bulb-hue), calc(var(--glass-saturation) * 1%), calc(var(--glass-lightness) * 1%), 1);
  }
  .light-bulb__filament {
    fill: none;
    stroke: hsl(60, calc(var(--filament-saturation) * 1%), calc(var(--filament-lightness) * 1%));
  }
  .light-bulb__fitting {
    fill: hsl(0, 0%, calc(var(--fitting-lightness) * 1%));
  }
  .light-bulb__fitting-shine {
    fill: hsl(0, 0%, calc((var(--fitting-lightness) + 20) * 1%));
  }
  .light-bulb__bloom {
    fill: none;
    stroke: hsl(var(--bulb-hue), 100%, 50%);
    stroke-width: 2;
    opacity: 0;
  }
  [type='checkbox'] {
    position: fixed;
    bottom: 1rem;
    opacity: 0.1;
  }
  [type='checkbox']:nth-of-type(1) {
    right: 1rem;
  }
  [type='checkbox']:nth-of-type(1):checked ~ .wrapper svg .light-bulb:nth-of-type(odd) {
    --bulb-hue: 90;
  }
  [type='checkbox']:nth-of-type(1):checked ~ .wrapper svg .light-bulb:nth-of-type(even) {
    --bulb-hue: 0;
  }
  [type='checkbox']:nth-of-type(2) {
    right: 2rem;
  }
  [type='checkbox']:nth-of-type(2):checked ~ .wrapper svg .light-bulb--1 {
    --bulb-hue: 0;
  }
  [type='checkbox']:nth-of-type(2):checked ~ .wrapper svg .light-bulb--2 {
    --bulb-hue: 30;
  }
  [type='checkbox']:nth-of-type(2):checked ~ .wrapper svg .light-bulb--3 {
    --bulb-hue: 60;
  }
  [type='checkbox']:nth-of-type(2):checked ~ .wrapper svg .light-bulb--4 {
    --bulb-hue: 90;
  }
  [type='checkbox']:nth-of-type(2):checked ~ .wrapper svg .light-bulb--5 {
    --bulb-hue: 200;
  }
  [type='checkbox']:nth-of-type(2):checked ~ .wrapper svg .light-bulb--6 {
    --bulb-hue: 270;
  }
  [type='checkbox']:nth-of-type(3) {
    right: 3rem;
  }
  [type='checkbox']:nth-of-type(3):checked ~ .wrapper svg .light-bulb--1 {
    --bulb-hue: 60;
  }
  [type='checkbox']:nth-of-type(3):checked ~ .wrapper svg .light-bulb--2 {
    --bulb-hue: 120;
  }
  [type='checkbox']:nth-of-type(3):checked ~ .wrapper svg .light-bulb--3 {
    --bulb-hue: 180;
  }
  [type='checkbox']:nth-of-type(3):checked ~ .wrapper svg .light-bulb--4 {
    --bulb-hue: 240;
  }
  [type='checkbox']:nth-of-type(3):checked ~ .wrapper svg .light-bulb--5 {
    --bulb-hue: 300;
  }
  [type='checkbox']:nth-of-type(3):checked ~ .wrapper svg .light-bulb--6 {
    --bulb-hue: 360;
  }
  [type='checkbox']:nth-of-type(4) {
    right: 4rem;
  }
  [type='checkbox']:nth-of-type(4):checked ~ .wrapper svg .light-bulb--1 {
    --bulb-hue: 10;
  }
  [type='checkbox']:nth-of-type(4):checked ~ .wrapper svg .light-bulb--2 {
    --bulb-hue: 20;
  }
  [type='checkbox']:nth-of-type(4):checked ~ .wrapper svg .light-bulb--3 {
    --bulb-hue: 30;
  }
  [type='checkbox']:nth-of-type(4):checked ~ .wrapper svg .light-bulb--4 {
    --bulb-hue: 40;
  }
  [type='checkbox']:nth-of-type(4):checked ~ .wrapper svg .light-bulb--5 {
    --bulb-hue: 50;
  }
  [type='checkbox']:nth-of-type(4):checked ~ .wrapper svg .light-bulb--6 {
    --bulb-hue: 60;
  }
  .banner-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .hue-banner {
    color: hsl(var(--hue, 0), 100%, 50%);
    border-color: hsl(var(--hue, 0), 100%, 50%);
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    -webkit-animation: fadeToBlack 0.5s 1s both;
            animation: fadeToBlack 0.5s 1s both;
  }
  @-webkit-keyframes fadeToBlack {
    to {
      opacity: 0;
    }
  }
  @keyframes fadeToBlack {
    to {
      opacity: 0;
    }
  }
  
